[Desktop Entry]
Version=1.0
Type=Application
Name=WebStorm
Icon=com.jetbrains.WebStorm.svg
Exec=webstorm %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-webstorm
